apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ghost-data
  namespace: blog
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 5Gi
