---
- name: restart sshd
  ansible.builtin.service:
    name: sshd
    state: restarted

- name: restart fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted

- name: reboot node
  ansible.builtin.reboot:
    reboot_timeout: 600
